/* Reset */
* {
  /* Reset */
  box-sizing: border-box;
  /* the width and height of an element is only calculated based on its content */
  margin: 0;
  padding: 0;
}

/* Page Colors */
:root {
  --dark-utility-color: #333;
  --white-utility-color: #fff;
  --primary-color: rgba(13, 110, 139, 0.65);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.87);
  --menu-speed: 0.75s;
  --transition-speed: 1s;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--white-utility-color);
  overflow: hidden;
  background-color: purple;
}

#showcase {
  background-color: var(--primary-color);
  color: var(--white-utility-color);
  height: 100vh;
  position: relative;

}

#showcase::before {
  content: "";
  background-image: url(../img/showcase.jpg);
  background-repeat: no-repeat;
  /* the background image will not be repeated. */
  background-position: center center;
  /* "/cover" means that the background image will be resized to cover the entire area of the element, without stretching or distorting the image. */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;


}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  height: 100%; /* 100% of parent container */
}
.hero h1{
  font-size: 4rem;
}

.hero p{
  font-size: 1.4rem;
}



header {}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



/* Button Styling */
.btn {
  text-decoration: none;
  color: var(--white-utility-color);
  padding: 0.75rem 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.1rem;
  border: none;
  transition: opacity var(--transition-speed) ease-in-out;
  background-color: var(--dark-utility-color);
}

.btn:hover{
  opacity: 0.7;
}

/* Link Style */
a {
  text-decoration: none;
  color: #333;
}